body{
    font-family:Arial, Helvetica, sans-serif ;
}

nav ul li a {
    color: #585858;
}

.navbar{
    background-color:#04B431;
        
}

.quem-somos{
    background-color: royalblue;
    color: snow;
    
}
.margin{
    padding-bottom:50px ;
    padding-top: 10px;
   
}

.parceiros{
    background-color: teal;
    color: white;
}
.bg-footer{
    background-color: black ;
    color: white;
}